/* Common shared Style */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
/* Nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-discription {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.nav-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 30px;
}
nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 35px;
  /* text-decoration: none; */
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* Header related style */
.header {
  background-color: #fff8f3;
  background-image: url(../webdeveloper-portdolio/images/header_bg.png), url(../webdeveloper-portdolio/images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right,top left;
}

.banner {
  padding: 0px 0px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-picture {
  width: 600px;
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 60px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-content {
  max-width: 750px;
}
.para {
  text-align: justify;
}
.dev {
  display: flex;
}
/* Main section Style */
/* About Scetion */
.about {
  padding: 150px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about-info-container {
  display: flex;
  justify-content: space-between;
}
.about-info {
  text-align: center;
  margin: 30px;
}
.info-title {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.info-description {
  color: #474747;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
#what-i-do-des {
  padding: 15px 150px;
  text-align: center;
}
/* -------------------skills---------------------------- */
.skill-container {
  display: flex;
}
.skill {
  border-radius: 10px;
  margin: 30px;
  gap: 25px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description {
  padding: 20px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify; /* 175% */
}
.skill-title {
  color: #181818;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.skill > img {
  margin: 20px;
}
.resume-coloum-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
/* ------------------------------- */
.resume-comtainer {
  display: flex;
  margin: 0 150px;
  gap: 50px;
}
.resume-coloum-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-item-title {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
.resume-item-institute {
  color: #757575;
  font-size: 18px;
  font-weight: 600;
}
.resume-item-description {
  color: #757575;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}
.resume-item {
  margin: 0 5px;
}
.main-btn {
  display: center;
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 30px;
}
.main-bt {
  text-align: center;
  margin: 50px;
}
/* --------------------- */
footer {
  background: #fff8f3;
  padding: 130px;
  margin-top: 50px;
}
.container {
  display: flex;
  gap: 50px;
}
.col {
  width: 50%;
}
.col-title {
  margin-bottom: 20px;
  color: #181818;
  /* text-align: center; */
  font-size: 35px;
  font-weight: 700;
}
.col-description {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.icon > img {
  margin: 0px 10px 0px 0px;
}
.col input {
  padding: 18px 35px;
  width: 461px;
  height: 64px;
  margin: 0 0 20px;
  border-radius: 5px;
  background: #fff;
  border: 0;
}
.col textarea {
  padding: 18px 35px;
  margin: 0 0 20px;
  border-radius: 5px;
  background:#fff;
  width: 461px;
  height: 180px;
  border: 0;
}
