/* Common shared Style */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
/* Nav style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-discription{
  color:#757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
}
.nav-title {
  color: var(--Dark-01, #181818);
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 30px;
}
nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 35px;
  /* text-decoration: none; */
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* Header related style */
.header {
  background-color: #fff8f3;
  background-image: url(../webdeveloper-portdolio/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 0px 0px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-picture {
  width: 600px;
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 60px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-content {
  max-width: 750px;
}
.para {
  text-align: justify;
}
.dev {
  display: flex;
}
/* Main section Style */
/* About Scetion */
/* .about{
  padding: 150px;
  border-radius: 10px;
  background: #fff8f3;
} */
.about {
  padding: 150px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 130px 0;
}
main{
  max-width: 1140px;
  margin: 0 auto;
}
.about-info-container{
  display:flex;
  justify-content: space-between;
}
.about-info{
  text-align: center;
  margin: 30px;
}
.info-title{
  color:  #757575;
text-align: center;
font-size: 20px;
font-weight: 400;
line-height: 30px;
}
.info-description{
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}